.kanit {
  font-family: 'Kanit',
}

body {
  background-color: #2b2b43;

}

.pt-100 {
  padding-top: 100px;
}

.m-110 {
  margin: 110px;
}

.bg-naranja {
  background-color: #EC903B;
}

.w-90 {
  width: 92%;

}

.bg-azul {
  background-color: #2b2b43;
}

.boton {
  cursor: pointer;
  position: absolute;
  top: 67%;
  left: 25%;
  font-size: xx-large;
  border: #2b2b43 2px solid;
  border-radius: 20px;
  text-decoration: none;

}

.img {
  height: auto;
  display: block;
  margin-left: 55px;
}

.pl-150 {
  padding-left: 150px;
}

.scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

.bgHeaderPartidos {
  background-color: #008080;
}

a {
  text-decoration: none;
}

.border-win{
  border-bottom: #18C10A solid 10px;
}
.border-draft{
  border-bottom:#818181 solid 10px ;
}
.border-lose{
  border-bottom:#E70000 solid 10px ;
}

